<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <title>{{ header.name }} − Kit&Pack</title>

        <!-- CSS -->
        {% block css %}
        <link rel="stylesheet" media="screen" type="text/css" href="css/doc-3.css" />
        <link rel="stylesheet" media="screen and (max-width:600px)" href="css/doc-3_small.css">

        <link rel="stylesheet" media="screen" type="text/css" href="css/doc-elements.css" />

        <link rel="stylesheet" media="screen" type="text/css" href="css/doc-skills.css" />
        {% endblock %}
    </head>

    <body>

        <main>
            <article>{% block content %}{% endblock %}</article>
        </main>

        <header>
            <img src="i/kitnpack_badge.png" alt="icon Kit&Pack" />

            <div class="v-menu">
                001-v2 <span class="arrow">⯆</span>
                <ul>
                    <li>001-v1</li>
                </ul>
            </div>

            <h1>{{ header.name }}</h1>

        </header>

        <footer>
            <a class="previous" href="{{ section.previous_url }}.html" rel="prev">⯇</a>
            <div class="progress">
                <span style="width: {{ section.percent }}%"></span>
            </div>
            <a class="next" href="{{ section.next_url }}.html" rel="next">⯈</a>
        </footer>
    </body>
</html>
